body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(50, 50, 50);
    background-color: aliceblue;
    font-size: 16pt;
    line-height: 2;
}

nav {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    background-color: white;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: rgb(62, 62, 62);
}

img {
    height: 250px;
    width: 250px;
    border: 2px solid saddlebrown;
    border-radius: 8px;
    margin: 12px 0;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 24pt;
    margin: 40px 0 20px 0;
    font-weight: bold;
}

h3 {
    font-size: 20pt;
    margin: 40px 0 20px 0;
}

section {
    width: 80%;
    margin: 40px auto;
    background-color: rgb(231, 230, 228);
    border-radius: 25px;
    padding: 20px 40px 40px 40px;
}

ul {
    list-style: disc;
    margin-left: 24px;
}

ol {
    list-style: decimal;
    margin-left: 40px;
}

.caption {
    font-size: 12pt;
    font-style: italic;
}